*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    font-family: "Courier New", monospace;
    color: #020002;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

header {
    text-align: center;
    padding-bottom: 20px;
}

a, a:link, a:visited {
    color: #006D77;
}

a:focus, a:hover {
    color: #006D77;
    text-decoration: none;
}

a:active {
    color: #fff;
    background-color: #006D77;
}

.btn {
    border: none;
    padding: 8px;
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.95;
}

.add-btn, .save-btn {
    color: #FFF;
    background-color: #006D77;
    margin: 10px 0 20px 0;
}

.update-btn {
    color: #FFF;
    background-color: #E0A800;
}

.delete-btn {
    color: #FFF;
    background-color: #DC3545;
}

.search-btn {
    color: #FFF;
    background-color: #5A6268;
    width: 25%;
    align-self: center;
    margin: 10px 0;
}

.form-btn {
    width: 25%;
    align-self: center;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
    border: 2px solid #565678;
    letter-spacing: 1px;
    width: 50%;
    margin-bottom: 15px;
}

caption {
    padding: 10px;
    font-weight: bold;
}

thead {
    background-color: #83C5BE;
}

th,
td {
    border: 1px solid #006D77;
    padding: 8px 10px;
}


tbody > tr:nth-of-type(even) {
    background-color: #EDF6F9;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .action-buttons {
        flex-direction: column;
    }
}