*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    font-family: "Courier New", monospace;
    color: #020002;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    text-align: center;
    padding-bottom: 20px;
}

a, a:link, a:visited {
    color: #006D77;
}

a:focus, a:hover {
    color: #006D77;
    text-decoration: none;
}

a:active {
    color: #fff;
    background-color: #006D77;
}

.btn {
    border: none;
    padding: 8px;
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.95;
}

.add-btn {
    color: #fff;
    background-color: #006D77;
    margin: 10px 0 20px 0;
}

table {
    border-collapse: collapse;
    border: 2px solid #565678;
    letter-spacing: 1px;
    width: 50%;
}

caption {
    padding: 10px;
    font-weight: bold;
}

thead {
    background-color: #83C5BE;
}

th,
td {
    border: 1px solid #006D77;
    padding: 8px 10px;
}


tbody > tr:nth-of-type(even) {
    background-color: #EDF6F9;
}